.VPHomeHero .name {
    background: linear-gradient(90deg, #E98532, #F6A439, #C04D8F, #D06DAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.VPHomeHero .image {
    filter: drop-shadow(0 0 25px #ff6ec4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.VPHomeHero .image img {
    width: 256px;
    height: 256px;
}